#Name of the item to be persisted
file=filename
#Start Time format yyyy, mm (Zero based!), dd, hh, mm  Example 2020. 0, 1, 0, 0 = 2020 Jan 1st, 00:00Z
start=2020,0,1,0,0
#End Time
end=2020,11,1,0,0
Name or IP of openHAB Server
openhabserver=openHABServer
Name of persistence service that was used.
persistenceservice=influxdb
Selected archive seup ( 1 = OH2 default, 2 = OH3 default_numeric, 3 = OH3 default_quantifiable)
archivesetup=1